body {
	background-image: url("../images/Potatoes.jpg");
	background-size: 100%;
}
.content {
	margin-top: 5%;
	height: auto;
	width: 70%;
	background-color: #fafafa;
	margin: 0 auto;
	min-height: 600px;
	border:1px solid #204d74;
	padding-bottom: 20px;

}
.toparea {
	height: 80px;
	width: 100%;
	background-color: #E4E4E4;
	padding-bottom: 0%;
	margin-bottom: 0%;

	font-size: 20px;

}
.toptext {
	padding-top: 10px;
	padding-left: 10px;
	width: 200px;
	float:left;
}

.menu {
	margin:0 auto;
	padding-top: 0;
	margin-top: -3%;
	background-color: #095370;
	width: 100%;
	height: 60px;
	text-align:center;


}

a {
	color: #fafafa;
	text-decoration: none;
}

li {
	display: block;

	float: left;
	padding: 20px;

}
a:hover {
	color: #46b8da;
}

input {
	border:1px solid #000000;
	width:200px;
	padding:10px;
	margin:5px 15px;
	border-radius:5px;
}
select {
	border:1px solid #000000;
	background-color: inherit;
	width:200px;
	padding:10px;
	margin:5px 15px;
	border-radius:5px;

}
button {
	border:1px solid #000000;
	background-color: #095370;
	width:200px;
	padding:10px;
	margin:5px 15px;
	border-radius:5px;
	font-size:15px;
	color:#FFFFFF;
}
button:hover {
	background-color: #124160;
}
.formcalc {
	margin:0 auto;
	width: 400px;
}
.fc {
	text-align: center;
}
.hdr {
	font-size: 30px;
	color:#085269;
	text-align: center;
	margin-top: 30px;
}
.icon {
	margin-top: 5px;
	margin-left: 5px;
	width: 25px;
	height: 25px;
}
.aboutheader {
	font-size: 30px;
	margin-top: 30px;
	margin-left: 30px;
	color: #085269;
}
.aboutcontent {
	font-size: 20px;
	margin-top: 30px;
	margin-left: 30px;
	color: #000000;
}
.alink {
	color: #085269;
	text-decoration: none;
}
table {
	border: 2px solid #204d74;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 10px;
}
td, th {
	width: 150px;
	height: 40px;
}
.vkpublic {
	margin-right: 20px;
	margin-top:15px;
	float: right;
}
.vkpost {
	width:20px;
	height:20px;
}
.answer {
	text-align: center;
	height: 150px;
	font-size: 20px;
	color: #122b40;
	display: none;
	margin-top:100px;
}

.message {
	width: 500px;
	height:100px;
	margin: 0 auto;
}

#vkShare {
	width: 100px;
	height:50px;
	margin: 0 auto;
}

.clear {
	clear:both;
}